@using Infrastructure.Entities;
@model ProductViewModel

@{
}

<div class="container">
    <div class="card">
        <div class="card-body">
            <p class="mt-0 mb-2 fw-semibold text-dark font-18 text-center">@ViewBag.RenderedHtmlTitle</p>
            <form asp-action="AddOrEdit" asp-controller="Product" asp-route-id="@Model.pID">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="cID" value="1" />
                <input type="hidden" asp-for="pID" value="@Model.pID" />
                <div>
                    <div class="form-group mb-2">
                        <label asp-for="pName" class="control-label"></label>
                        <div class="input-group mb-2">
                            <input asp-for="pName" class="form-control" placeholder="Nhập tên" value="@Model.pName" />
                        </div>
                        <span asp-validation-for="pName" class="text-danger"></span>
                    </div><!--end form-group-->
                    <div class="form-group mb-2">
                        <label asp-for="pPrice" class="control-label"></label>
                        <div class="input-group mb-2">
                            <input asp-for="pPrice" type="number" class="form-control" placeholder="Nhập giá bán" value="@Model.pPrice" />
                        </div>
                        <span asp-validation-for="pPrice" class="text-danger"></span>
                    </div><!--end form-group-->

                    <div class="form-group mb-2">
                        <label asp-for="pStorageQuantity" class="control-label"></label>
                        <div class="input-group mb-2">
                            <input asp-for="pStorageQuantity" type="number" class="form-control" placeholder="Nhập số lượng tồn kho" value="@Model.pStorageQuantity" />
                        </div>
                        <span asp-validation-for="pStorageQuantity" class="text-danger"></span>
                    </div><!--end form-group-->
                    <div class="form-group mb-2">
                        <label asp-for="Units" class="control-label">Đơn vị tính</label>
                        <div class="input-group mb-2">
                            <select asp-for="unID" class="form-control">
                                @{
                                    foreach(Unit u in Model.Units)
                                    {
                                        <option value="@u.unID">@u.unName</option>
                                    }
                                }
                            </select>
                        </div>
                        <span asp-validation-for="pStorageQuantity" class="text-danger"></span>
                    </div><!--end form-group-->
            

                    <div class="form-group">
                        <br />
                        <div class="col-md-12 offset-md-5">
                            <div class="d-flex">
                                <div style="margin-right:10px;">
                                    <input type="submit" value="Submit" class="btn btn-primary btn-block" style="width:80px" />
                                </div>
                                <div>
                                    <a asp-controller="Product" asp-action="Index" class="btn btn-success text-white"><i class="fe-log-out"></i> Close</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div> <!-- end card-->
</div>

@section scripts{
}