@using Infrastructure.Entities;
@model ProductViewModel

@{
}

<div class="container">
    <div class="card">
        <div class="card-body">
            <p class="mt-0 mb-2 fw-semibold text-dark font-18 text-center">@ViewBag.RenderedHtmlTitle</p>
            <form asp-action="AddOrEdit" asp-controller="Product" asp-route-id="@Model.pID" enctype ="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="pID" value="@Model.pID" />
                
                <div class="float-left"> 
                     <p>Hình ảnh</p>
                    @{
                        var imgSrc = "";
                        if(Model.pImage != null)
                        {
                            
                            
                            
                            var base64 = Convert.ToBase64String(Model.pImage);
                             <input type="hidden" asp-for="ImageByBase64" value="@base64" />
                            imgSrc = String.Format("data:image;base64,{0}", base64);
                   
                        }
                        }
                        <div class="input-group mb-2">
                            <label for="ImageData">
                                    <img src="@imgSrc" width="256px" height="256px" id="output"/>
                             </label>
                            <input class="form-control" type="file" id="ImageData" name="ImageData" accept="image/png, image/gif, image/jpeg, image/jpg" style="display: none" onchange="loadFile(event)">
                            <script>
                                 var loadFile = function(event) {
                                 var output = document.getElementById('output');
                                 output.src = URL.createObjectURL(event.target.files[0]);
                                 output.onload = function() {
                                    URL.revokeObjectURL(output.src) // free memory
                                    }
                                };
                            </script>
                        </div>
                </div>
                <div class="float-left" style="width: 70%; margin-left: 20px">
                        <div class="form-group mb-2">
                        <label asp-for="pName" class="control-label"></label>
                        <div class="input-group mb-2">
                            <input asp-for="pName" class="form-control" placeholder="Nhập tên" value="@Model.pName" />
                        </div>
                        <span asp-validation-for="pName" class="text-danger"></span>
                        </div><!--end form-group-->
                        <div class="form-group mb-2">
                        <label asp-for="pPrice" class="control-label"></label>
                        <div class="input-group mb-2">
                            <input asp-for="pPrice" type="number" class="form-control" placeholder="Nhập giá bán" value="@Model.pPrice" />
                        </div>
                        <span asp-validation-for="pPrice" class="text-danger"></span>
                        </div><!--end form-group-->

                        <div class="form-group mb-2">
                        <label asp-for="pStorageQuantity" class="control-label"></label>
                        <div class="input-group mb-2">
                            <input asp-for="pStorageQuantity" type="number" class="form-control" placeholder="Nhập số lượng tồn kho" value="@Model.pStorageQuantity" />
                        </div>
                        <span asp-validation-for="pStorageQuantity" class="text-danger"></span>
                        </div><!--end form-group-->
                        <div class="form-group mb-2">
                        <label asp-for="Units" class="control-label">Đơn vị tính</label>
                        <div class="input-group mb-2">
                            <select asp-for="unID" class="form-control">
                                @{
                                    foreach(Unit u in Model.Units)
                                    {
                                        <option value="@u.unID">@u.unName</option>
                                    }
                                }
                            </select>
                        </div>
                        <span asp-validation-for="Units" class="text-danger"></span>
                        </div><!--end form-group-->
                        <div class="form-group mb-2">
                        <label asp-for="Categories" class="control-label">Loại rau củ</label>
                        <div class="input-group mb-2">
                            <select asp-for="cID" class="form-control">
                                @{
                                    foreach(Category c in Model.Categories)
                                    {
                                        <option value="@c.cID">@c.cName</option>
                                    }
                                }
                            </select>
                        </div>
                            <span asp-validation-for="Categories" class="text-danger"></span>
                        </div><!--end form-group-->
                    @{
                        if(Model.pID > 0)
                        {
                            <div class="form-group mb-2">
                        <label asp-for="pActive" class="control-label">Hiện đang kinh doanh </label>
                        <input asp-for="pActive" type="checkbox" value="@Model.pActive" onchange="this.value=this.checked">
                        <span asp-validation-for="pActive" class="text-danger"></span>
                            </div><!--end form-group-->
                        }
                        else
                        {
                            <input type="hidden" asp-for="@Model.pActive" value="true" />
                        }
                    
                        }
                        
                        
                 </div>  
                    <div style="clear: both">
                        <br />
                        <div class="col-md-12 offset-md-5">
                            <div class="d-flex">
                                <div style="margin-right:10px;">
                                    <input type="submit" value="Submit" class="btn btn-primary btn-block" style="width:80px" />
                                </div>
                                <div>
                                    <a asp-controller="Product" asp-action="Index" class="btn btn-success text-white"><i class="fe-log-out"></i> Close</a>
                                </div>
                            </div>
                        </div>
                    </div>
               
            </form>
        </div>
    </div> <!-- end card-->
</div>

@section scripts{
}